@charset "ISO-8859-1";
/* Common styles */
body {
    font-family: Arial, sans-serif;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Specific page styles */

/* Home page */
button a {
    text-decoration: none;
    color: white;
}

/* Admin success page */
div {
    margin-bottom: 20px;
}

/* Login and register forms */
form {
    margin-top: 20px;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

/* Admin page */
button a {
    text-decoration: none;
    color: white;
}

/* Form fields */
input[type="text"], input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Food page */
img {
    max-width: 200px;
    max-height: 200px;
}
